[submodule "3rd/symengine-0.14.0"]
	path = 3rd/symengine-0.14.0
	url = https://github.com/symengine/symengine.git
[submodule "3rd/imgui"]
	path = 3rd/imgui
	url = https://github.com/ocornut/imgui.git
